.form {
  width: 40rem;
  margin: 2rem auto;
  }


.form label {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
  }

.form input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  }
.form button {
  font: inherit;
  background: #ebb002;
  border:1px solid #ebb002;
  color: #201d0f;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  }
.form button:hover,
.form button:active {
  background: #201d0f;
  border-color: #201d0f;
  color: white;
  }
